# Source files
#src/
dist/

# TypeScript files
# **/*.ts
# **/*.tsx

# Other unnecessary files
node_modules/
*.log
*.tsbuildinfo

# configuration files
# tsconfig.json
.npmignore
.npmrc
.gitignore

*.txt
shx.txt
