.copy-button {
  background-color: transparent;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  border-color: hsl(var(--muted-foreground) / 0.5);
  background-color: hsl(0, 0, 0%);
  padding: 0.4rem !important;
  .copy-icon {
    fill: none !important;
    color: hsl(0, 0%, 98%);
  }

  &:hover {
    background-color: hsl(var(--muted-foreground) / 0.5);
  }
}
